# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
* Python
* java
* c++

Some of the commonly used libraries used by Data Scientists include: 
* Numpy
* Scipy
* Panda

| Data Science Tools |
| -------------------|
| Jupyter Notebook   |
| RStudio            |
| Apache Zeppelin    |

### Below are a few examples of evaluating arithmetic expressions in Python.

In [ ]:
A = (3*4)+5
# This a simple arithmetic expression to mutiply then add integers
print(A)

In [ ]:
Convert_Minutes_To_Hours = 200/60
# This will convert 200 minutes to hours by diving by 60
print (Convert_Minutes_To_Hours)

**Objectives:**

* Introduce basic arithmetic operations in Python.

* Creating a table of data science tools.

* List Popular Languages in Data science

* Listing commonly used libraries in data science

## Author: Fnu Saad